@model ArtsofteClient.ViewModels.CreateEmployeeViewModel

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <h1>Create Employee</h1>
        @using (Html.BeginForm("CreateEmployee", "Employee", FormMethod.Post))
        {
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" id="name" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Name)</span>
            </div>
            <div class="mb-3">
                <label for="surname" class="form-label">Surname</label>
                <input asp-for="Surname" class="form-control" id="surname" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Surname)</span>
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input asp-for="Age" class="form-control" id="age" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Age)</span>
            </div>
            <div class="mb-3">
                <label for="languageId" class="form-label">Language</label>
                <select asp-for="LanguageId" class="form-select" aria-label="Default select example">
                    <option selected disabled value="">Select Language</option>
                    @foreach (var language in Model.Languages)
                    {
                        <option value="@language.Id">@language.Language</option>
                    }
                </select>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.LanguageId)</span>
            </div>
            <div class="mb-3">
                <label for="departmentId" class="form-label">Department</label>
                <select asp-for="DepartmentId" class="form-select" aria-label="Default select example">
                    <option selected disabled value="">Select Department</option>
                    @foreach (var department in Model.Departments)
                    {
                        <option value="@department.Id">@department.Name</option>
                    }
                </select>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.DepartmentId)</span>
            </div>
            <div class="mb-3">
                <label for="gender" class="form-label">Gender</label>
                <select asp-for="Gender" class="form-select" aria-label="Default select example">
                    <option selected disabled value="">Select Gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Gender)</span>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 60px">Create Employee</button>
        }
    </div>
</div>
